<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.personnelSystem.mapper.AnnouncementMapper">
  <resultMap id="BaseResultMap" type="com.personnelSystem.entity.Announcement">
    <id column="announcement_id" jdbcType="INTEGER" property="id" />
    <result column="announcement_title" jdbcType="VARCHAR" property="title" />
    <result column="announcement_state" jdbcType="INTEGER" property="state" />
    <result column="announcement_content" jdbcType="VARCHAR" property="content" />
    <result column="announcement_createById" jdbcType="INTEGER" property="createbyid" />
    <result column="announcement_createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="announcement_modifyById" jdbcType="INTEGER" property="modifybyid" />
    <result column="announcement_modifyDateTime" jdbcType="TIMESTAMP" property="modifydatetime" />
    <result column="announcement_version" jdbcType="BIT" property="version" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    announcement.id as announcement_id, announcement.title as announcement_title, announcement.state as announcement_state, 
    announcement.content as announcement_content, announcement.createById as announcement_createById, 
    announcement.createTime as announcement_createTime, announcement.modifyById as announcement_modifyById, 
    announcement.modifyDateTime as announcement_modifyDateTime, announcement.version as announcement_version
  </sql>
  <select id="selectByExample" parameterType="com.personnelSystem.entity.AnnouncementExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from announcement announcement
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from announcement announcement
    where announcement.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from announcement
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.personnelSystem.entity.AnnouncementExample">
    delete from announcement announcement
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.personnelSystem.entity.Announcement">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into announcement (title, state, content, 
      createById, createTime, modifyById, 
      modifyDateTime, version)
    values (#{title,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{createbyid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{modifybyid,jdbcType=INTEGER}, 
      #{modifydatetime,jdbcType=TIMESTAMP}, #{version,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.personnelSystem.entity.Announcement">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into announcement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createbyid != null">
        createById,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="modifybyid != null">
        modifyById,
      </if>
      <if test="modifydatetime != null">
        modifyDateTime,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createbyid != null">
        #{createbyid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifybyid != null">
        #{modifybyid,jdbcType=INTEGER},
      </if>
      <if test="modifydatetime != null">
        #{modifydatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.personnelSystem.entity.AnnouncementExample" resultType="java.lang.Long">
    select count(*) from announcement announcement
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update announcement announcement
    <set>
      <if test="record.id != null">
        announcement.id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        announcement.title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        announcement.state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.content != null">
        announcement.content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.createbyid != null">
        announcement.createById = #{record.createbyid,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null">
        announcement.createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifybyid != null">
        announcement.modifyById = #{record.modifybyid,jdbcType=INTEGER},
      </if>
      <if test="record.modifydatetime != null">
        announcement.modifyDateTime = #{record.modifydatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.version != null">
        announcement.version = #{record.version,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update announcement announcement
    set announcement.id = #{record.id,jdbcType=INTEGER},
      announcement.title = #{record.title,jdbcType=VARCHAR},
      announcement.state = #{record.state,jdbcType=INTEGER},
      announcement.content = #{record.content,jdbcType=VARCHAR},
      announcement.createById = #{record.createbyid,jdbcType=INTEGER},
      announcement.createTime = #{record.createtime,jdbcType=TIMESTAMP},
      announcement.modifyById = #{record.modifybyid,jdbcType=INTEGER},
      announcement.modifyDateTime = #{record.modifydatetime,jdbcType=TIMESTAMP},
      announcement.version = #{record.version,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.personnelSystem.entity.Announcement">
    update announcement
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createbyid != null">
        createById = #{createbyid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifybyid != null">
        modifyById = #{modifybyid,jdbcType=INTEGER},
      </if>
      <if test="modifydatetime != null">
        modifyDateTime = #{modifydatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.personnelSystem.entity.Announcement">
    update announcement
    set title = #{title,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      createById = #{createbyid,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      modifyById = #{modifybyid,jdbcType=INTEGER},
      modifyDateTime = #{modifydatetime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
    <sql id="listAnnouncement_Where_Clause">
		<trim prefix="where" prefixOverrides="AND">
		announcement.version = 0
			<if test="title != null and title != ''">
				and lower(IFNULL(announcement.title,'')) LIKE CONCAT(CONCAT('%',
				TRIM(lower(#{title, jdbcType=VARCHAR}))), '%')
			</if>
		</trim>
	</sql>
    <select id="countAnnouncement" parameterType="com.personnelSystem.dto.criteria.SearchAnnouncementCriteria" resultType="int">
     	select 
	        count(1)
		FROM
		  	announcement
		<if test="_parameter != null">
            <include refid="listAnnouncement_Where_Clause" />
        </if>
    </select>
    <select id="listAnnouncement" parameterType="com.personnelSystem.dto.criteria.SearchAnnouncementCriteria" resultMap="BaseResultMap">
		select 
		  <include refid="Base_Column_List" />
		FROM
		   announcement
        <if test="_parameter != null">
            <include refid="listAnnouncement_Where_Clause" />
        </if>
        ORDER BY announcement.createTime DESC
        <if test="pagesize != 0">
            LIMIT #{offset}, #{pagesize}
        </if>
    </select>
</mapper>